.temporary-class {
  position: relative;
  min-height: 100vh; /* Set min-height to take up the full viewport height */
  padding-top: 120px;
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.categories-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px !important;
}

.category-item {
  /* background-color: #000000; */
  width: calc(100vw - 30px);
  margin: 5px !important;
  padding: 10px !important;
  background-color: #222222 !important;
  border: 1px solid !important;
  border-color: #444 !important;
  display: flex;
  direction: row;
  justify-content: start !important;
  border-radius: 5px !important;
}

.category-checkbox {
  width: 30px !important;
  height: 30px !important;
  margin-right: 10px;
  border-color: transparent;
  accent-color: #BF8DFF !important;
}


.category-item label {
  color: white
}


