.nav-button {
  margin: 15px;
  position: fixed;
  bottom: 0px;
  padding: 0px;
  background-color: transparent;
  border: none;
  padding: 0px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  z-index: 999;
}

.nav-button img {
  width: 20px;
  height: 30px;
  object-fit: cover;
}

.button-text {
  color: white;
  line-height: 100%;
  padding-bottom: 3%;
  font-size: 18px;
  font-weight: bold;
}

.back-button {
  left: 0;
  padding: 0px;
}

.next-button {
  right: 0;
  padding: 0px;
}