/* HomeScreen.css */
.homeScreen {
  background-color: #000; 
  color: #fff; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 80%; 
  max-width: 600px; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  width: 100%; 
  margin-bottom: 5px;
}

.search-bar-label {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  align-self: flex-start;
}

.search-input {
  flex-grow: 1;
  padding: 10px 20px;
  font-size: 18px;
  border: 2px solid #444;
  background-color: #222;
  color: #ddd;
  outline: none;
  border-radius: 10px 10px 10px 10px;
  margin-right: 5px;
}