/* ViewScreen.css */

/* Temporary class for positioning */
.temporary-class {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the button row */
.button-row {
  display: flex;
  justify-content: space-between; /* Distributes items evenly */
  align-items: center; /* Align items vertically */
  width: calc(100vw - 60px);
  margin-top: 20px;
}

/* Style for individual buttons */
.button-row button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 25px;
}

/* Style for the eye toggle container */
.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* Style for the eye toggle image */
.icons img {
  width: 35px; /* Adjust the size as needed */
}

/* Style for the text under the eye toggle */
.icons span {
  margin-top: 5px;
  font-size: 14px;
  color: #666;
}
