.feedbackScreen {
  background-color: #000; 
  color: #fff; 
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fb-region {
  width: calc(100vw - 30px); 
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-label {
  color: #FFF;
  font-weight: 600;
  font-size: 18px;
}

.fb-inp {
  border: 2px solid #444;
  background-color: #222;
  color: #ddd;
}

.sentBut {
  background-color: #424242;
  font-weight: 300;
  font-size: 20px;
}

.submitBut {
  background-color: #7549a2;
  font-weight: 500;
  font-size: 20px;
}

