.feedbackScreen {
  height: 100vh;
  margin-top: 100px;
  overflow-y: 'auto';
  overflow-x: 'hidden';
}

.feedbackContent {
  background-color: #000; 
  color: #fff; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fb-region {
  width: calc(100vw - 30px); 
  padding: 2em;
  margin: 0%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sentBut {
  background-color: #424242;
  font-weight: 300;
  font-size: 20px;
}

.submitBut {
  background-color: #7549a2;
  font-weight: 500;
  font-size: 20px;
}

